
.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  
  font-style: normal;
}


.noto-serif {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* shared style  */




body{
    background-color: #f0f8ff;
}
/* style navbar */

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    padding-left: 150px;
    padding-right: 150px;

}
.logo img{
    width: 100%;
}
.nav-menu{
    display: flex;
    
    align-items: center;
    gap: 48px;
}
.nav-menu a{
    text-decoration: none;
    font-size: 16px;
    color: rgba(137, 135, 161, 1);
}

.nav-menu a.active{
    font-weight: bold;
    width: 46px;
    color: rgba(37, 36, 50, 1);
}
.nav-menu a.cart{
    color: rgba(0, 0, 0, 1);
}


/* banner section  */

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 120px 150px;
  flex-wrap: wrap;
}
.hero-text {
  flex: 1;
  margin: auto;
  width: 570px;
  height: 178px;
}



.bold {
  font-weight: bold;
  color: rgba(0, 0, 0, 1);
  font-size: 65px;


  
}
.highlight {
  font-weight: bold;
  color: rgba(233, 90, 8, 1);
  font-size: 65px;
}

.pera{
  
  font-size: 22px;
  color: rgba(0, 0, 0, 0.5);
  padding-bottom: 20px;
  
}

/* Hero Image */
.hero-image {
  flex: 1;
  text-align: center;
  
  margin-top: auto;
  
}

.hero-image img {
  max-width: 100%;
  margin-top: 226px;  

}

/* our plan  */


.product-section {
  max-width: 1200px;
  margin: auto;
  padding: 30px;
  text-align: center;
}
.plant{
    color: rgba(0, 0, 0, 1);
}

.product-section h1 {
  font-size: 50px;
  margin-bottom: 10px;
}

.highlight {
  color: rgba(233, 90, 8, 1);
  font-weight: bold;
}





.product-grid{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 25px;
}

.product-card {
  
  padding: 10px;
  
  
}

.product-card img {
  width: 100%;
  
}

.product-card h2 {
  font-size: 22px;
  font-weight: normal;
  margin: 10px 0 5px;
}

.product-card .price {
  font-weight: bold;
  margin-bottom: 10px;
}

.product-card button {
  background-color: rgba(233, 90, 8, 1);
  color: rgba(255, 255, 255, 1);
  border: none;
  padding: 10px;
  width: 100%;
  font-weight: bold;
  cursor: pointer;
  border-radius: 4px;
}

.product-card button:hover {
  background-color: rgba(233, 90, 8, 1);
}
/* section style  */
.section {
  display: flex;
  flex-wrap: wrap;
  padding: 210px 150px;
  gap: 60px;
  
  align-items: center;
  justify-content: center;
}

.image-container {
  position: relative;
  flex: 1 1 300px;
  width: 540px;
  height: 597px;
}

.main-image {
  width: 100%;
  
  
}

.badge {
  position: absolute;
  top: -125px;
  right: -125px;
  width: 286px;
  height: 286px;
}


.text-content {
  flex: 1 1 300px;
  max-width: 500px;
  
}

.text-content h1 {
  font-size: 50px;
  font-weight: bold;
  color: rgba(0, 0, 0, 1);

  margin-bottom: 15px;
}

.text-content ul {
  padding-left: 20px;
  gap: 20px;
}

.text-content li {
  margin-bottom: 15px;
  font-size: 22px;
  color: rgba(0, 0, 0, 0.5);
  
}
/* deal section style  */

.deals-section {
  padding: 150px 120px;
  text-align: center;
}


.deals-section h2  {
  font-size: 50px;
  font-weight: bold;
  
}

.highlight {
    font-size:50px;
    font-weight: bold;
    color: rgba(233, 90, 8, 1);
}

.description {
  
  
  margin: 0 auto 40px;
  color: rgba(0, 0, 0, 0.5);
  font-size: 22px;
}

/* Grid Layout */
.deals-grid {

  display: flex;
  max-width: 1140px;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}

.deal-left {
  display: flex;
  flex-direction: column;
  gap: 25px;
  flex: 1 1 250px;
  width: 367px;
  height: 423px;
}

.card {
  position: relative;
  overflow: hidden;
  border-radius: 12px;
}

.card img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 14px;
}

.overlay {
  position: absolute;
  inset: 0;
  
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  text-align: center;
}

.overlay h3 {
  margin: 0;
  color: rgba(255, 255, 255, 1);
  font-size: 20px;
  font-weight: 600;
}

.overlay a {
  font-weight: 800;
  font-size: 16px; 
  margin-top: 10px;
  color: rgba(255, 255, 255, 1);
  
  text-decoration: underline;
}

.large-card {
  flex: 1 1 500px;
  max-width: 600px;
  min-height: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 12px;
  
}
.large-card img{
    border-radius: 22px;
}

/* bacground img section  */
.subscribe-section {
  background-image: url('/images/news-letter-bg.png'); 
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
}


.background {
  

  padding: 199px 193px 305px;
  border-radius: 10px;
  color: white;
  max-width: 90%;
  width: 100%;
}

.background h2 {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 23px;
  font-weight: bold;
}

.subscribe-form {
  display: flex;

  
  gap: 0px;
}

.subscribe-form input {
  padding: 12px;
  border: none;

  font-size: 16px;
  width: 100%;
}

.subscribe-form button {
  padding: 12px;
  border: none;
  
  background-color: rgba(233, 90, 8, 1);
  color: rgba(255, 255, 255, 1);
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
}
/* footer section  */
    .footer {
      display: flex;
      justify-content: space-between;
      width: 80%;
      padding: 50px 160px;
      
    }
    .logo-section {
      display: flex;
      align-items: center;
    }

    .logos {
      width: 135px;
      height: 82px;
      height: auto;
    }
    
    .text {
      margin-left: 10px;
      color: rgba(0, 0, 0, 0.5);
    }
    .text p {
      margin: 5px 0;
    }
    .links, .social {
      display: flex;
      flex-direction: column;
      gap:32px ;
    }
    .links a, .social a {
      text-decoration: none;
      color: gray;
      margin: 5px 0;
    }
    .social {
      flex-direction: row;
      gap: auto;
    }
    .social a img {
      width: 24px;
      height: 24px;
    }








/* responsive navbar  */
@media screen and (max-width: 480px) {
  .res{
    display: none;
  }
  
    
    
  .logo{
    width: 63px;
    height: 38px;
  }
  
    
  
  .navbar{
    flex-direction: row;
    justify-content: space-between;
    padding: 13px 16px 16px;
   
    
   
    
    
    
  }
  .cart{
    
    padding-left: 187px;
  }



  .hero{
    flex-direction: column-reverse;
    flex-wrap: nowrap;
    padding: 16px 28px;
    
     
  }
  .highlight,.bold {
    font-size: 24px;
  }
  .hero-text{
    text-align: left;
    font-size: 14px;
    width: 361px;
    
    
    ;
  }
  
  .hero-image img{
    margin-top: 0px;
    width: 100%;

    
    
  } 
 
}




/* responsive banner*/
@media screen and (max-width: 480px) {
  .product-grid {
    grid-template-columns: repeat(2,1fr);

  }
  .respone{
    display: none;
  }

  .product-section h1 {
    font-size: 24px;
  }
  
  .pera{
    font-size: 14px;
  }
  
  

  .product-card h2 {
    font-size: 24px;
  }
}

/* section style  response*/

@media screen and (max-width: 480px) {
  .section {
    flex-direction: column;
    justify-content: center;
    padding: 16px 25px;
    
    

  }

  .image-container{
    width: 361px;
  }
  .main-image{
    margin: 0px;
    width: 100%;
    width: 361px;
  }
  

  .badge {
    display: none;
  }
  .text-content{
    margin: 0px;
    width: 100%;
    width: 361px;
    
    
  }
  


  .text-content h1 {
    font-weight: bold;
    color: rgba(0, 0, 0, 1);
    text-align: left;
    font-size: 24px;
  }

  .text-content ul{
    gap: 16px;
    text-align: left;
  }

  .text-content li {
    color: rgba(0, 0, 0, 0.5);
    font-weight: regular;
    
    font-size: 14px;
  }
}

/* deal section response  */
@media screen and (max-width: 480px) {
  .deals-grid {
    padding-left: 0px;
    margin-left: 10px;
    flex-direction: column;
    align-items: center;
    
   
  
    

  }
  .deals-section{
    
    padding: 50px 16px;
    gap: 20px;
  }
  .deals-section h2{
    font-size: 24px;
  }
  .description{
    font-size: 14px;
    width: 336px;
    height: 68px;
  }

  .deal-left {
    max-width: 100%;
  }
  .large-card img{
    width: 361px;
    height: 172px;
    margin: 0px;
  
    align-items: center;
    
    
    
    
  }
  .card{
   
   width: 361px;
   height: 172px;
   
   
  }

  .large-card {
    max-width: 100%;
    
    
    
     
  }

  .overlay h3 {
    font-size: 20px;
  }



}

 /* background response  */
@media  screen and (max-width:480px){

    .subscribe-section{
        width:393px;
        height: 275px;
        padding: 0px;
        margin: 0px;
        

    }
    .background{
        padding: 0px;
    }
    .background h2{
        font-size: 20px;
    }
    
    
    
    
    
}

/* footer section responsive  */
@media screen and (max-width:480px){
    .footer{
        flex-direction: column;
        align-items: left;
        text-align: left;
        width: 90%;
        padding: 50px 50px 20px 14px;
      }
      .logo-section {
       margin-bottom: 20px;
      }
      .links {
       margin-bottom: 20px;
      }
      .logos{
        width: 180px;
        height: 109px;
      }
      .social {
        flex-direction: row;
        justify-content: left;
      }
    
    }



