
.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  
  font-style: normal;
}


.noto-serif {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* shared style  */




body{
    background-color: #f0f8ff;
}
/* style navbar */

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    padding-left: 150px;
    padding-right: 150px;

}
.logo img{
    width: 100%;
}
.nav-menu{
    display: flex;
    align-items: center;
    gap: 48px;
}
.nav-menu a{
    text-decoration: none;
    font-size: 16px;
    color: rgba(137, 135, 161, 1);
}

.nav-menu a.active{
    font-weight: bold;
    width: 46px;
    color: rgba(37, 36, 50, 1);
}
.nav-menu a.cart{
    color: rgba(0, 0, 0, 1);
}


/* banner section  */

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 120px 150px;
  flex-wrap: wrap;
}
.hero-text {
  flex: 1;
  margin: auto;
  width: 570px;
  height: 178px;
}



.bold {
  font-weight: bold;
  color: rgba(0, 0, 0, 1);
  font-size: 65px;


  
}
.highlight {
  font-weight: bold;
  color: rgba(233, 90, 8, 1);
  font-size: 65px;
}

.pera{
  
  font-size: 22px;
  color: rgba(0, 0, 0, 0.5);
  padding-bottom: 20px;
  
}

/* Hero Image */
.hero-image {
  flex: 1;
  text-align: center;
  
  margin-top: auto;
  
}

.hero-image img {
  max-width: 100%;
  margin-top: 226px;  

}